<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="Schema Validator Pro Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <file>./schema-validator-pro.php</file>
            <directory suffix=".php">./includes/</directory>
        </include>
        <exclude>
            <directory>./tests/</directory>
            <directory>./vendor/</directory>
            <directory>./assets/</directory>
            <directory>./languages/</directory>
        </exclude>
        <report>
            <html outputDirectory="tests/coverage"/>
            <text outputFile="php://stdout" showUncoveredFiles="true"/>
        </report>
    </coverage>
</phpunit>

